@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poltawski+Nowy:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=verified");
// font-family
$font-primary: "Noto Serif TC"; // 中文字體
$font-secondary: "Poltawski Nowy"; // 英文字體

// font-weight
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-semi-bold: 600;

// Mixins
// semiBold-zh-TW

@mixin header-semiBold-style($size, $line-height, $letter-spacing) {
    font-family: $font-primary;
    font-size: $size;
    font-weight: $font-weight-semi-bold;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
}

.display1-semiBold{
    @include header-semiBold-style(72px, 1.2, 0.04em); 
}

.display2-semiBold{
    @include header-semiBold-style(48px, 1.2, 0.04em); 
}

.h1-semiBold{
    @include header-semiBold-style(40px, 1.2, 0.04em); 
}

.h2-semiBold{
    @include header-semiBold-style(38px, 1.2, 0.04em); 
}

.h3-semiBold{
    @include header-semiBold-style(32px, 1.2, 0.04em); 
}

.h4-semiBold{
    @include header-semiBold-style(28px, 1.2, 0.04em); 
}

.h5-semiBold{
    @include header-semiBold-style(24px, 1.2, 0.04em); 
}

.h6-semiBold{
    @include header-semiBold-style(20px, 1.2, 0.04em); 
}
.body1-semiBold{
    @include header-semiBold-style(16px, 1.2, 0.04em); 
}
.body2-semiBold{
    @include header-semiBold-style(14px, 1.5, 0); 
}
.body3-semiBold{
    @include header-semiBold-style(12px, 1.5, 0); 
}

// Bold-zh-TW
@mixin header-bold-style($size, $line-height, $letter-spacing) {
    font-family: $font-primary;
    font-size: $size;
    font-weight: $font-weight-bold;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
}

.display1-bold{
    @include header-bold-style(72px, 1.2, 0.04em); 
}

.display2-bold{
    @include header-bold-style(48px, 1.2, 0.04em); 
}
.h1-bold{
    @include header-bold-style(40px, 1.2, 0.04em); 
}
.h2-bold{
    @include header-bold-style(38px, 1.2, 0.04em); 
}
.h3-bold{
    @include header-bold-style(32px, 1.2, 0.04em); 
}
.h4-bold{
    @include header-bold-style(28px, 1.2, 0.04em); 
}
.h5-bold{
    @include header-bold-style(24px, 1.2, 0.04em); 
}
.h6-bold{
    @include header-bold-style(20px, 1.2, 0.04em); 
}
.body1-bold{
    @include header-bold-style(16px, 1.2, 0.04em); 
}
.body2-bold{
    @include header-bold-style(14px, 1.5, 0); 
}
.body3-bold{
    @include header-bold-style(12px, 1.5, 0); 
}

// eng
@mixin header-eng-style($size, $line-height, $letter-spacing) {
    font-family: $font-secondary;
    font-size: $size;
    font-weight: $font-weight-regular;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
}

.h1-eng{
    @include header-eng-style(40px, 1.2, 0.04em); 
}
.h2-eng{
    @include header-eng-style(38px, 1.2, 0.04em); 
}
.h3-eng{
    @include header-eng-style(32px, 1.2, 0.04em); 
}
.h4-eng{
    @include header-eng-style(28px, 1.2, 0.04em); 
}
.h5-eng{
    @include header-eng-style(24px, 1.2, 0.04em); 
}
.h6-eng{
    @include header-eng-style(20px, 1.2, 0.04em); 
}
.body1-eng{
    @include header-eng-style(16px, 1.2, 0.04em); 
}
.body2-eng{
    @include header-eng-style(14px, 1.5, 0); 
}
.body3-eng{
    @include header-eng-style(12px, 1.5, 0); 
}