<footer>
  <div class="container px-4 py-40 d-none d-lg-block">
    <div class="row justify-content-between">
      <div class="left-side col-lg-5 ps-lg-0 pe-lg-100 d-flex flex-column">
        <div class="logo text-center">
          <img
            src="../assets/images/Property 1=Variant2.png"
            alt="台味尋寶圖"
            class="mb-20"
          />
          <div
            class="social-icon-f d-none d-lg-flex justify-content-center mb-4"
          >
            <i class="bi bi-instagram fs-4"></i>
            <i class="bi bi-facebook fs-4 px-20"></i>
            <i class="bi bi-line fs-4"></i>
          </div>
        </div>
        <div class="search">
          <form class="d-flex search-icon mb-4" role="search">
            <i class="bi bi-search fs-3 me-2"></i>
            <input
              class="form-control radius-5"
              type="search"
              placeholder="搜尋美食"
              aria-label="Search"
            />
          </form>
        </div>
        <div class="copyright d-none d-lg-block fs-14">
          <p class="mb-2">
            Copyright @2024 The Flavors of Taiwan All rights reserved
          </p>
          <div class="d-flex">
            <p class="me-12">網站使用需知</p>
            <p>隱私權聲明</p>
          </div>
        </div>
      </div>
      <div class="right-side col-lg-5 d-flex flex-column">
        <div class="slogon">
          <p class="py-4 m-0 fs-28">“尋找隱藏的美味 珍藏台灣的味道”</p>
        </div>
        <div
          class="footer-content d-flex mt-4 mb-4 mb-lg-0 justify-content-between"
        >
          <div>
            <p class="subtile-title-color">首頁</p>
            <ul class="list-unstyled">
              <li><a href="#" class="fs-14">關於我們</a></li>
              <li><a href="#" class="fs-14">本月熱門店家</a></li>
              <li><a href="#" class="fs-14">最新美食評價</a></li>
              <li><a href="#" class="fs-14">聯絡我們</a></li>
            </ul>
          </div>
          <div>
            <p class="subtile-title-color">精選美食</p>
            <ul class="list-unstyled">
              <li><a href="#" class="fs-14">本月精選</a></li>
              <li><a href="#" class="fs-14">節日美食</a></li>
              <li><a href="#" class="fs-14">合作店家動態</a></li>
            </ul>
          </div>
          <div>
            <p class="subtile-title-color">會員中心</p>
            <ul class="list-unstyled">
              <li><a href="#" class="fs-14">會員註冊</a></li>
              <li><a href="#" class="fs-14">商家註冊</a></li>
              <li><a href="#" class="fs-14">會員個人主頁</a></li>
              <li><a href="#" class="fs-14">會員專屬優惠</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 以下顯示手機板 -->
  <div class="container py-40 d-block d-lg-none">
    <div class="slogon py-20 fs-28 text-center">
      <p class="mb-2">“尋找隱藏的美味</p>
      <p>珍藏台灣的味道”</p>
    </div>
    <div class="search">
      <form class="d-flex search-icon m-4" role="search">
        <i class="bi bi-search fs-3 me-2"></i>
        <input
          class="form-control radius-5"
          type="search"
          placeholder="搜尋美食"
          aria-label="Search"
        />
      </form>
    </div>
    <div
      class="footer-content d-flex mt-4 mb-4 mb-lg-0 justify-content-between"
    >
      <div>
        <p class="subtile-title-color">首頁</p>
        <ul class="list-unstyled">
          <li><a href="#" class="fs-14">關於我們</a></li>

          <li><a href="#" class="fs-14">本月熱門店家</a></li>
          <li><a href="#" class="fs-14">最新美食評價</a></li>
          <li><a href="#" class="fs-14">聯絡我們</a></li>
        </ul>
      </div>
      <div>
        <p class="subtile-title-color">精選美食</p>
        <ul class="list-unstyled">
          <li><a href="#" class="fs-14">本月精選</a></li>
          <li><a href="#" class="fs-14">節日美食</a></li>
          <li><a href="#" class="fs-14">合作店家動態</a></li>
        </ul>
      </div>
      <div>
        <p class="subtile-title-color">會員中心</p>
        <ul class="list-unstyled">
          <li><a href="#" class="fs-14">會員註冊</a></li>
          <li><a href="#" class="fs-14">商家註冊</a></li>
          <li><a href="#" class="fs-14">會員個人主頁</a></li>
          <li><a href="#" class="fs-14">會員專屬優惠</a></li>
        </ul>
      </div>
    </div>
    <div class="logo text-center">
      <img
        src="../assets/images/Property 1=Variant2.png"
        alt="台味尋寶圖"
        class="mb-20"
      />
      <div class="social-icon d-none d-lg-flex justify-content-center mb-4">
        <i class="bi bi-instagram fs-4"></i>
        <i class="bi bi-facebook fs-4 px-20"></i>
        <i class="bi bi-line fs-4"></i>
      </div>
    </div>
  </div>
</footer>
