/* badge */

.badge-primary-s{
    background: $primary-80;
    padding: 4px;
    text-align: center;
    border-radius: 4px;

} // page1,page2.1
.badge-primary-m{
    background: $primary-80;
    padding: 8px;
    text-align: center;
    border: 1px solid #000;
    border-radius: 40px;
}
.badge-neutral-s{
    background: $neutral-95;
    padding: 4px;
    text-align: center;
    border-radius: 4px;

}
.badge-neutral-m{
    background: $neutral-95;
    padding: 8px;
    text-align: center;
    border: 1px solid #000;
    border-radius: 40px;
}

// filter
.filter-btn{
    font-weight: $font-weight-semi-bold;
    background: $white;
    padding: 8px;
    border: 1px solid #000;
    text-align: center;
}
.filter-text-btn{
    border-radius: 4px;
}
.filter-btn:hover{
    background: $primary-80;
}
.filter-btn:focus{
    background: $primary-80;
}
.filter-icon-text-btn{
    border-radius: 12px;
}

