footer {
  background-color: #31302f;
  color: #ffffff;
}

// 搜尋欄default顏色
footer .form-control {
  border: 1.5px solid rgba(201, 198, 196, 1);
}
footer .form-control::placeholder {
  color: rgba(201, 198, 196, 1);
}

a {
  text-decoration: none;
  color: inherit;
}

.list-unstyled {
  li {
    margin-bottom: 12px;
  }
}

// 間距

.px-20 {
  padding: 0 20px;
}

.px-12 {
  padding: 0 12px;
}

.py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.me-12 {
  margin-right: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-28 {
  font-size: 28px;
}

.pe-100 {
  padding-right: 100px;
}

// 顏色
.subtile-title-color {
  color: #adaba9;
}
