header {
  border-bottom: 1px solid rgba(72, 70, 69, 1);
  background: #0000001a;
  letter-spacing: 0.04em;
}

header:hover {
  background: white;
}

// 搜尋欄跟著背景色
.form-control {
  background-color: inherit;
}

.search-avatar img {
  width: 32px;
  height: 32px;
  border-radius: 50%; /* 將元素裁剪為圓形 */
  background-image: url("你的背景圖片連結"); /* 背景圖設置 */
  background-size: cover; /* 讓背景圖填滿整個元素 */
  background-position: center; /* 背景圖置中顯示 */
  object-fit: cover; /* 確保 img 圖片也能充滿圓形區域 */
}

@media (max-width: 996px) {
  img[alt="台味尋寶圖header"] {
    content: url("../assets/images/logo-type-1-sm.svg");
  }
}

.nav-link {
  color: black;
}

// 搜尋icon在手機板的位置
@media (max-width: 996px) {
  header .search-icon i {
    left: -24px; /* 調整圖標的左邊距 */
  }
}

@media (min-width: 992px) {
  header li {
    border: none;
  }
}

.bt-0 {
  border-top: none;
}

// 搜尋欄樣式
.form-control {
  border-radius: 2.5rem; // radius 40px
  border: 1.5px solid #000;
}

.radius-5 {
  border-radius: 2.5rem; // radius 40px
}

.navbar-toggler {
  position: relative;
  display: block;
  .hamburg-line {
    width: 20px;
    height: 2px;
    display: block;
    background: $dark;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: transform 0.5s ease;
    &:nth-child(1) {
      transform-origin: 50% 50%;
      transform: translateY(-8px) translateX(-50%);
    }
    &:nth-child(2) {
      transform: translateX(-50%);
    }
    &:nth-child(3) {
      transform-origin: 50% 50%;
      transform: translateY(8px) translateX(-50%);
    }

    &.active {
      &:nth-child(1) {
        transform: translateX(-50%) translateY(-50%) rotate(45deg);
        position: absolute;
        top: 50%;
        left: 50%;
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: translateX(-50%) translateY(-50%) rotate(-45deg);
      }
    }
  }
}

.navbar-toggler:focus,
.navbar-toggler:active {
  box-shadow: none; /* 移除陰影效果 */
  border: none; /* 確保不會顯示邊框 */
}
