header {
  border-bottom: 1px solid rgba(72, 70, 69, 1);
  background: #0000001a;
}

header {
  background-image: url("../images/deco/bg1.png");
  background-size: 1920px 851px; /* 根據需求設置具體寬度和高度 */
  background-repeat: no-repeat;
  background-position: top left; /* 可以設置起始位置 */
}

// 搜尋欄跟著背景色
.form-control {
  background-color: inherit;
}

.nav-link {
  color: black;
}

// 搜尋icon在手機板的位置
@media (max-width: 996px) {
  header .search-icon i {
    left: -24px; /* 調整圖標的左邊距 */
  }
}

@media (min-width: 992px) {
  header li {
    border: none;
  }
}

.bt-0 {
  border-top: none;
}

// 搜尋欄樣式
.form-control {
  border-radius: 2.5rem; // radius 40px
  border: 1.5px solid #000;
}

.radius-5 {
  border-radius: 2.5rem; // radius 40px
}

.navbar-toggler {
  position: relative;
  display: block;
  .hamburg-line {
    width: 20px;
    height: 2px;
    display: block;
    background: $dark;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: transform 0.5s ease;
    &:nth-child(1) {
      transform-origin: 50% 50%;
      transform: translateY(-8px) translateX(-50%);
    }
    &:nth-child(2) {
      transform: translateX(-50%);
    }
    &:nth-child(3) {
      transform-origin: 50% 50%;
      transform: translateY(8px) translateX(-50%);
    }

    &.active {
      &:nth-child(1) {
        transform: translateX(-50%) translateY(-50%) rotate(45deg);
        position: absolute;
        top: 50%;
        left: 50%;
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: translateX(-50%) translateY(-50%) rotate(-45deg);
      }
    }
  }
}

.navbar-toggler:focus,
.navbar-toggler:active {
  box-shadow: none; /* 移除陰影效果 */
  border: none; /* 確保不會顯示邊框 */
}
