// search-section
.search-section {
    background: none;
    padding: 0;
    .container{
        padding: 0;
    }
}

@media (min-width: 576px) {
    .search-section {
        background-image: url(/A18-Project-Folder/assets/images/deco/bg8.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}
.search-bar-container {
    background-color: $neutral-95;
    padding: 24px;
}



// region
.region-selection{
    .form-select{
        border-radius: 0px;
        border: 1px solid #000;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-caret-down-fill' viewBox='0 0 16 16'%3E %3Cpath d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/%3E%3C/svg%3E");
    }
}
.form-select {
    box-shadow: none;
    transition: all 0.2s ease;
    &:focus {
        border: 1px solid #000;
        box-shadow: 2px 2px 0 #000;
    }
}  
// search
.search-text{
    transition: all 0.2s ease;
    input[type="text" i] {
        width: 100%;
        padding: 12px 8px 12px 40px;    
        border: 1px solid #000;
    }
}

.search-text input:focus-visible{
    outline: none;
    border: 1px solid #000;
    box-shadow:none;
    box-shadow:2px 2px  #000;
}

.search-section .search-icon i{
    color: #000;
}
// 解決和header search-icon的衝突
@media (max-width: 996px) {
    .search-section .search-icon i {
        left: 12px;
    }
}
// toolbar
.mobile-filter-sort{
    overflow-x: auto; /* 允許水平滾動 */
    white-space: nowrap; /* 防止換行 */
    .sort{
        flex: none; /* 防止項目隨容器縮放 */
        
        .form-select{
                padding: 8px 40px 8px 8px;
                border: 1px solid #000;
                border-radius: 0px;

            }
    }
    
    &::-webkit-scrollbar {
        display: none; /* 隱藏滾動條 */
    }
    
}