.gallery-img-container{
    position: relative;
    max-width: 100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 1px solid black;
}
.gallery-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: none;
    opacity: 1;
    will-change: transform, opacity;
    border-radius: inherit;
    filter: brightness(0.95);
    transition: transform 0.4s ease-in-out, opacity 1.63s, filter 0.4s;
    &:hover{
        transform: scale(1.05);
        filter: brightness(1.05);
    }
}
.gallery-photo-width{
    &-100{
        width: 100%;
    }
    &-80{
        width: 80%;
    }
    &-60{
        width: 60%;
    }
    &-30{
        width: 30%;
    }
}

.bg-gallery-container {
    position: relative;

    .bg-gallery-photo {
        background-color: rgba(0, 0, 0, 0.3); 
        position: absolute; 
        top: 0;
        left: 0;
        width: 100%; 
        height: 100%; 
        z-index: 2; 
    }

    .gallery-img {
        position: relative; 
        z-index: 1; 
    }

}

//section-detail-overview
.section-detail-overview{
    
    background-image: url(/A18-Project-Folder/assets/images/deco/pattern5.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    border: 1px solid #000;

    .headline-text-wrapper{
        box-shadow: 4px 4px  $neutral-30; /* 添加整體陰影 */
    }

    .text-block {
        display: inline-block;
        padding: 8px 16px; /* 調整內邊距確保文字有足夠空間 */
        border: 1px solid black; /* 添加每個文字塊的邊框 */
        font-size: 24px; /* 根據需要調整字體大小 */
    }
    .material-symbols-fill {
        font-variation-settings:
        'FILL' 1;
        color: $primary-10;
        vertical-align: bottom;
    }


    .detail-upper-wrapper{
        position: relative;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 1px;
            background: repeating-linear-gradient(
                to right,
                #000, // 虛線顏色
                #000 8px, // 虛線長度
                transparent 8px, // 間隙開始
                transparent 16px // 總長度 (虛線+間隙)
            );          
        }
    }

    
}

.overflow-x{
    overflow-x: auto; /* 允許水平滾動 */
    white-space: nowrap; /* 防止換行 */
    span{
        display: inline-block;
        flex:none;
    }
    &::-webkit-scrollbar {
        display: none; /* 隱藏滾動條 */
    }
}