<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>詳細頁面</title>
  </head>

  <body class="comment">
    <%- include('./layout/header'); -%>

    <section>
      <div class="container">
        <div class="row py-6 py-lg-10 justify-content-center">
          <div class="col-12 col-lg-1 mb-9 text-center">
            <p class="py-3 d-inline" style="border-bottom: 1px dashed #000">
              評論
            </p>
          </div>
          <div class="col-lg-7 col-12 d-flex flex-column gap-6">
            <div
              class="px-3 py-4 comment-title border border-dark d-block d-lg-flex justify-content-between"
            >
              <div>
                <p class="mb-2">台北|中山</p>

                <p class="mb-lg-0 mb-6">
                  <img
                    src="../assets/images/user.jpg"
                    alt="user"
                    class="user me-2 mb-1"
                  />台味尋寶圖
                </p>
              </div>
              <div>
                <img src="../assets/images/star1.png" alt="星評" />
                選擇你的評分
                <p class="mt-2 mb-0">
                  開始撰寫你對&nbsp;&nbsp;王氏魚皮&nbsp;&nbsp;的評價
                </p>
              </div>
            </div>
            <div class="d-flex rate">
              <div
                class="rate-text border border-dark px-3 pt-3 pb-lg-16 pb-14"
              >
                <p class="fs-5 mb-3">評分</p>
                <img src="../assets/images/star2.png" alt="評" />
                <p class="fs-14 m-0 mt-3">12條評價</p>
              </div>
              <div class="rate-star flex-grow-1 border border-dark px-6 py-4">
                <div class="progress mb-5">
                  <div
                    class="progress-bar bg-warning"
                    role="progressbar"
                    style="width: 100%"
                    aria-valuenow="25"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  >
                    五星
                  </div>
                </div>
                <div class="progress mb-5">
                  <div
                    class="progress-bar bg-warning"
                    role="progressbar"
                    style="width: 75%"
                    aria-valuenow="50"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  >
                    四星
                  </div>
                </div>
                <div class="progress mb-5">
                  <div
                    class="progress-bar bg-warning"
                    role="progressbar"
                    style="width: 50%"
                    aria-valuenow="75"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  >
                    三星
                  </div>
                </div>
                <div class="progress mb-5">
                  <div
                    class="progress-bar bg-warning"
                    role="progressbar"
                    style="width: 25%"
                    aria-valuenow="100"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  >
                    二星
                  </div>
                </div>
                <div class="progress mb-1">
                  <div
                    class="progress-bar bg-warning"
                    role="progressbar"
                    style="width: 0%"
                    aria-valuenow="0"
                    aria-valuemin="0"
                    aria-valuemax="100"
                  >
                    一星
                  </div>
                </div>
              </div>
            </div>

            <div class="comment-text border border-dark p-3">
              <div class="btn-group d-flex">
                <button
                  type="button"
                  class="btn dropdown-toggle rounded-0"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  最新評論
                </button>
                <button
                  type="button"
                  class="btn dropdown-toggle rounded-0"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  中文
                </button>
                <button
                  type="button"
                  class="btn dropdown-toggle rounded-0"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  美味星等
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                </ul>
              </div>

              <div class="comment-card p-6">
                <div class="d-flex justify-content-between">
                  <div>
                    <div class="d-flex">
                      <img
                        src="../assets/images/icons/avatar.png"
                        class="avatar me-3"
                        alt=""
                      />
                      <div>
                        <p class="mb-2">Hannah</p>
                        <p class="mb-2">Tainan|Taiwan</p>
                        <p class="mb-4">
                          <i class="bi bi-person-fill"></i>美食攝影師
                        </p>
                      </div>
                    </div>
                    <img src="../assets/images/star2.png" alt="" />
                  </div>
                  <div>2024/1/10</div>
                </div>
                <div class="py-6">
                  Came here for the fish soup- Nothing is better than a hot soup
                  in a cold winter day. Also tried out their braised pork rice,
                  the flavor pairs really well with the soup. Was amazed how
                  cheap the place was too- Highly recommended!
                </div>
                <div class="d-flex gap-6 food-pic">
                  <img
                    src="../assets/images/wang-fish/wang-fish-5.png"
                    alt=""
                  />
                  <img
                    src="../assets/images/wang-fish/wang-fish-8.png"
                    alt=""
                  />
                </div>
                <p class="border-bottom border-dark my-6 d-inline-block pb-2">
                  查看翻譯
                </p>
                <div>
                  <i class="bi bi-hand-thumbs-up-fill"></i>
                  <p class="d-inline-block me-5">(0)</p>
                  <i class="bi bi-chat-dots-fill me-5"></i>
                  <i class="bi bi-share-fill"></i>
                </div>
              </div>
              <div class="comment-card p-6">
                <div class="d-flex justify-content-between">
                  <div>
                    <div class="d-flex">
                      <img
                        src="../assets/images/icons/avatar.png"
                        class="avatar me-3"
                        alt=""
                      />
                      <div>
                        <p class="mb-2">Hannah</p>
                        <p class="mb-2">Tainan|Taiwan</p>
                        <p class="mb-4">
                          <i class="bi bi-person-fill"></i>美食攝影師
                        </p>
                      </div>
                    </div>
                    <img src="../assets/images/star2.png" alt="" />
                  </div>
                  <div>2024/1/10</div>
                </div>
                <div class="py-6">
                  Came here for the fish soup- Nothing is better than a hot soup
                  in a cold winter day. Also tried out their braised pork rice,
                  the flavor pairs really well with the soup. Was amazed how
                  cheap the place was too- Highly recommended!
                </div>
                <div class="d-flex gap-6 food-pic">
                  <img
                    src="../assets/images/wang-fish/wang-fish-5.png"
                    alt=""
                  />
                  <img
                    src="../assets/images/wang-fish/wang-fish-8.png"
                    alt=""
                  />
                </div>
                <p class="border-bottom border-dark my-6 d-inline-block pb-2">
                  查看翻譯
                </p>
                <div>
                  <i class="bi bi-hand-thumbs-up-fill text-warning"></i>
                  <p class="d-inline-block me-5">(1)</p>
                  <i class="bi bi-chat-dots-fill me-5"></i>
                  <i class="bi bi-share-fill"></i>
                </div>
              </div>
              <div class="text-center">
                <button class="mt-6 p-3 more">
                  查看更多 <i class="bi bi-arrow-right"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="col-lg-10 col-12 mt-6">
            <div class="looking-more text-center border border-dark">
              <div>
                <p class="mb-3 title d-inline-block border-bottom border-white">
                  More
                </p>
                <p class="fs-2 mb-6">你是否也在尋找...</p>
              </div>
              <div class="more-cards d-flex flex-column flex-lg-row gap-4">
                <div class="more-card border border-dark d-flex flex-lg-column">
                  <div class="border-bottom border-dark p-4">
                    <img
                      src="../assets/images/shrimp-rice.png"
                      class="border border-dark more-pic"
                      alt="蝦仁飯"
                    />
                  </div>
                  <div class="more-card-text p-5">
                    <div class="d-flex justify-content-between flex-column">
                      <div class="text-start order-2 order-lg-1">
                        <p class="fs-4">矮仔成蝦仁飯</p>
                        <p class="fs-14 pb-0">Ai Zai Cheng Shrimp Rice</p>
                      </div>
                      <div class="order-1 order-lg-2">
                        4.3<i class="bi bi-star-fill text-warning"></i>
                      </div>
                    </div>
                    <hr />
                    <p class="text-start">
                      "傳承百年古早味，台南人氣蝦仁飯，總統御用國宴菜色，必吃銅板美食。”
                    </p>
                    <div class="text-end mt-2">距離 3.7 公里</div>
                  </div>
                </div>
                <div class="more-card border border-dark d-flex flex-lg-column">
                  <div class="border-bottom border-dark p-4">
                    <img
                      src="../assets/images/shrimp-rice.png"
                      class="border border-dark more-pic"
                      alt="蝦仁飯"
                    />
                  </div>
                  <div class="more-card-text p-5">
                    <div class="d-flex justify-content-between flex-column">
                      <div class="text-start order-2 order-lg-1">
                        <p class="fs-4">矮仔成蝦仁飯</p>
                        <p class="fs-14 pb-0">Ai Zai Cheng Shrimp Rice</p>
                      </div>
                      <div class="order-1 order-lg-2">
                        4.3<i class="bi bi-star-fill text-warning"></i>
                      </div>
                    </div>
                    <hr />
                    <p class="text-start">
                      "傳承百年古早味，台南人氣蝦仁飯，總統御用國宴菜色，必吃銅板美食。”
                    </p>
                    <div class="text-end mt-2">距離 3.7 公里</div>
                  </div>
                </div>
                <div class="more-card border border-dark d-flex flex-lg-column">
                  <div class="border-bottom border-dark p-4">
                    <img
                      src="../assets/images/shrimp-rice.png"
                      class="border border-dark more-pic"
                      alt="蝦仁飯"
                    />
                  </div>
                  <div class="more-card-text p-5">
                    <div class="d-flex justify-content-between flex-column">
                      <div class="text-start order-2 order-lg-1">
                        <p class="fs-4">矮仔成蝦仁飯</p>
                        <p class="fs-14 pb-0">Ai Zai Cheng Shrimp Rice</p>
                      </div>
                      <div class="order-1 order-lg-2">
                        4.3<i class="bi bi-star-fill text-warning"></i>
                      </div>
                    </div>
                    <hr />
                    <p class="text-start">
                      "傳承百年古早味，台南人氣蝦仁飯，總統御用國宴菜色，必吃銅板美食。”
                    </p>
                    <div class="text-end mt-2">距離 3.7 公里</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
