<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>台味尋寶圖：王氏魚皮</title>
</head>
<body>
    <%- include('./layout/header'); -%>
    <%- include('./layout/search-header'); -%>

    <main class="bg-neutral-90 py-10">
        <div class="container">
            <section class="photo-gallery bg-neutral-80 p-6">
                <div class="gallery-photo-width-100">
                    <div class="gallery-img-container">
                        <img src="../assets/images/eatery-4.png" alt="wang-fish-image" class="gallery-img">
                    </div>
                </div>
                <div class="gallery-photo-width-80">
                    <div class="gallery-img-container">
                        <img src="../assets/images/wang-fish/wang-fish-1.png" alt="wang-fish-image" class="gallery-img">
                    </div>
                </div>
                <div class="gallery-photo-width-80">
                    <div class="gallery-img-container">
                        <img src="../assets/images/wang-fish/wang-fish-2.png" alt="wang-fish-image" class="gallery-img">
                    </div>
                </div>
                <div class="gallery-photo-width-60">
                    <div class="gallery-img-container">
                        <img src="../assets/images/wang-fish/wang-fish-3.png" alt="wang-fish-image" class="gallery-img">
                    </div>
                </div>
                <div class="gallery-photo-width-30">
                    <div class="gallery-img-container">
                        <img src="../assets/images/wang-fish/wang-fish-5.png" alt="wang-fish-image" class="gallery-img">
                    </div>
                </div>
            </section>
        </div>
    </main>


    

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
</body>
</html>