<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body class="food-column">
    <%- include('./layout/header'); -%>
    <section class="banner pt-10 pb-120">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-5">
            <p>Story of Cuisine</p>
            <hr />
            <img src="../assets/images/book.png" alt="一頁一味" />
            <p>一頁一味</p>
            <p>探索美食故事。</p>
            <hr />
            <p>台灣食紀</p>
            <p>Explore Taiwan</p>
            <button>
              一頁一味，探索美食故事<i class="bi bi-arrow-right fs-4"></i>
            </button>
          </div>
          <div class="col-6">
            <img src="../assets/images/cook.png" alt="" />
          </div>
        </div>
      </div>
    </section>

    <section class="feature">
      <div class="container">
        <div class="row py-20">
          <div class="col-12">
            <div class="feature d-flex justify-content-center">
              <img src="../assets/images/black-shopping-cart.png" alt="cart" />
              <div class="feature-title">
                <p>Feature Restaurants</p>
                <hr />
                <p>本月精選店家</p>
              </div>
              <img src="../assets/images/winecup.png" alt="winecup" />
            </div>
            <div class="feature-swiper">swiper</div>
          </div>
        </div>
      </div>
    </section>

    <section class="festival">
      <div class="container">
        <div class="row justify-content-center py-20">
          <div class="col-8 festival-content">
            <div class="festival-title text-center">
              <p>Festivals</p>
              <hr />
              <p>節日美食</p>
            </div>
            <div class="festival-content">
              <div class="card flex-row">
                <img
                  src="../assets/images/newyear.png"
                  class="card-img-top"
                  alt="年夜飯"
                />
                <div class="card-body">
                  <a href="#" class="btn btn-primary">春節</a>
                  <h5 class="card-title">年夜飯的身世探索</h5>
                  <p class="card-text">
                    年夜飯是台灣傳統新年中除夕的重要習俗，全家人齊聚一堂，共享豐盛佳餚，象徵團圓與和睦。魚（寓意年年有餘）、雞（象徵吉祥）、餃子（象徵財富）等，每道菜都有吉祥的寓意，祈願新的一年順遂富足。年夜飯不僅是美食，更是情感的聯繫與文化的傳承。
                  </p>
                </div>
              </div>
              <div class="card flex-row-reverse">
                <img
                  src="../assets/images/mid-autumn.png"
                  class="card-img-top"
                  alt="中秋"
                />
                <div class="card-body">
                  <a href="#" class="btn btn-primary">中秋節</a>
                  <h5 class="card-title">
                    中秋節烤肉的香味傳奇<br />一家烤肉萬家香
                  </h5>
                  <p class="card-text">
                    中秋節的夜晚，當戾火在爐中燃起，空氣中彌漫著烤肉的香氣，勾起人們的食欲。一家人繞著火爐，忙碌地翻轉著肉片，香氣四溢.笑聲連連。這份烤肉的美味不僅滿足了味蕾，更是讓人心中充滿了溫暖與幸福。
                  </p>
                </div>
              </div>
              <div class="card flex-row">
                <img
                  src="../assets/images/dragon-boat-festival.png"
                  class="card-img-top"
                  alt="端午節"
                />
                <div class="card-body">
                  <a href="#" class="btn btn-primary">端午節</a>
                  <h5 class="card-title">端午節來臨，各國粽子大不同</h5>
                  <p class="card-text">
                    農曆五月五日，華人傳統節日端午節來臨，是一年一度粽子浮上熱門話題的時期。除了以華人為主體的國家，東北與東南亞皆因文化的代代傳承，發展出各具特色的包米料理。這回世界美食城就來帶你認識端午節時節，各國的道地粽子！
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="newsfeed">
      <div class="container">
        <div class="news-title">
          <p>NewsFeed</p>
          <hr />
          <p>合作美食店家動態</p>
        </div>
        <div class="row">
          <div class="col-3">
            <div class="card">
              <img src="..." class="card-img-top" alt="..." />
              <div class="card-body">
                <a href="#" class="btn btn-primary">手搖飲</a>
                <h5 class="card-title">六角飲品</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="card">
              <img src="..." class="card-img-top" alt="..." />
              <div class="card-body">
                <a href="#" class="btn btn-primary">手搖飲</a>
                <h5 class="card-title">六角飲品</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="card">
              <img src="..." class="card-img-top" alt="..." />
              <div class="card-body">
                <a href="#" class="btn btn-primary">手搖飲</a>
                <h5 class="card-title">六角飲品</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="card">
              <img src="..." class="card-img-top" alt="..." />
              <div class="card-body">
                <a href="#" class="btn btn-primary">手搖飲</a>
                <h5 class="card-title">六角飲品</h5>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
  </body>
</html>
