<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>index</title>
</head>

<body>
  <%- include('./layout/header'); -%>

    <section class="banner-container">
      <div class="row">
        <div class="col-2 text-group">
          <div class="main-title display1-bold">
            <div>美</div>
            <div>食</div>
            <div>尋</div>
            <div>寶</div>
          </div>
          <div class="sub-title h3-semiBold">台味共享</div>
        </div>
        <div class="col-10">
          <img src="/assets/images/home-section1-taiwan.png" alt="Map of Taiwan">
        </div>
      </div>
    </section>

    <section class="about-container">
      <div class="content-box p-12 mt-30 mb-30">
        <div class="container mr-20">
          <div class="purpose-header">
            <h2 class="body2-eng">Our Purpose</h2>
            <h1 class="h1-semiBold mb-5">尋找隱藏的美味<br>珍藏台灣的味道</h1>
          </div>
          <div class="purpose-description">
            <p>台味尋寶圖不僅僅是一個檢索網站，更是承載了我們對台灣與美食的熱愛。期待通過這個平台把台灣的美食推廣到全世界，讓世界看見台灣！</p>
            <p>無論是分享美食食記，提供店家資訊，或是分享這個網站給你的家人朋友，您的參與都將幫助提升台灣美食的認知度並幫助住在國內的友人更好的規劃下一次的美食之旅！</p>
          </div>
        </div>
        <div class="purpose-image">
          <img src="/assets/images/home-section2-box.png" alt="Treasure Chest ">
        </div>
      </div>
    </section>



    <!-- badge -->
    <!-- <div class="py-20">
      <span class="badge-primary-s">台南</span>
      <span class="badge-primary-m">台南</span>
      <span class="badge-neutral-m">台南</span>
    </div> -->

    <!-- Modal 按鈕 -->
    <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      打開 modal
    </button> -->

    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>