<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <section class="banner container">
      <div class="row">
        <div class="col">
          <div class="text-group">
            <div class="main-title">
              <div>美</div>
              <div>食</div>
              <div>尋</div>
              <div>寶</div>
            </div>
            <div class="sub-title">台味共享</div>
          </div>
          <div class="map">
            <!-- <img
              src="/assets/images/home-section1-taiwan.png"
              alt="Map of Taiwan"
            /> -->
          </div>
        </div>
      </div>
      <!-- <div class="text-group">
        <div class="main-title">
          <div>美</div>
          <div>食</div>
          <div>尋</div>
          <div>寶</div>
        </div>
        <div class="sub-title">台味共享</div>
      </div>
      <div class="map">
        <img
          src="/assets/images/home-section1-taiwan.png"
          alt="Map of Taiwan"
        />
      </div> -->
    </section>

    <section class></section>

    <!-- badge -->
    <!-- <div class="py-20">
      <span class="badge-primary-s">台南</span>
      <span class="badge-primary-m">台南</span>
      <span class="badge-neutral-m">台南</span>
    </div> -->

    <!-- Modal 按鈕 -->
    <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      打開 modal
    </button> -->

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
