<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>search</title>
</head>
<body>
    <%- include('./layout/header'); -%>
    <header class="search-header" style="background-image: url(../assets/images/deco/bg8.png);">
        <div class="container d-flex justify-content-center">
            <h2 class="h3-semiBold text-white ">尋味台灣：立即開始您的美食旅程</h2>
            <div class="seachbar">
                fd5f4s5f6456
            </div>
        </div>

    </header>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
</body>
</html>